* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.section1 {
    height: 80%;
    width: 100%;
    background-color: #31031e;
    color: white;
    position: relative;
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:20px 50px;
}
.part2{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:50px;


}
nav h1{
    font-size: 30px;
    gap:10px;

}
nav h1 i{
    display:inline-block;
    rotate:45deg;

}
nav h4{
    font-size: 20px;
    font-weight: 500;
}
nav button{
    padding:10px 20px;
    font-size: 15px;
    border-radius: 20px;
    border:1px solid;
    background-color: pink;
    color:black;
}
.center1, .center2, .center3, .center4{
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 9vw;
    
}

.center1{
    position: absolute;
    top:94%;
    left:22%;
    font-weight: 1000;
    z-index: 2;
}
.center2, .center3, .center4{
    color:pink;
}
.section2{
    width:100%;
    height:20%;
    background-color: black;
}
.box1{
    height:30vw;
    width:20vw;
    position:absolute;
    margin-left:9vw;
    margin-top: 3vw;

}
.box1 img{
    height:30vw;
    width:20vw;
    object-fit: cover;
}
.box2{
    height:18vw;
    width:18vw;
    position: absolute;
    top:55%;
    right:20%;
    background-color: #31031e;
    color:white;
    padding:3vw 2vw;
    font-size: 1.5vw;
    word-spacing: 1.2%;
    line-break: normal;
    
}
.box2 a{
    text-decoration: none;
    color: inherit; 
}
.section3{
    height:100%;
    width:100%;
}
.container1{
    padding:45px;
    height:100%;
    width:40%;
}
.container1 h1{
    line-height: 1.2;
    font-size:80px;


}
.container1 p{
    font-size:20px;
    margin:10px;


}
.container1 button{
    padding:20px;
    margin-top:20px;
    margin-left:40px;
    border-radius: 40px;
    font-size: 20px;
    background-color: pink;
    color:black;

}
.container1 button a{
    text-decoration: none;
    color:black;
}
.section4{
    height:100%;
    background-color:#31031e ;
}
.box3{
    height:500px;
    width:400px;
    position: absolute;
    top:155%;
    right:12%;
}
.box3 img{
    height:380px;
    width:400px;


}
.box3 h3{
   font-size:50px;
   font-weight:480px;
   background-color: black;
   color:white;
   padding:15px 30px;
}
.box3 p{
    background-color: black;
    color:white;
    padding:5px 10px;
}
#button{
    border-radius: 95%;
    padding:40px;
    font-size:25px;
    font-weight: 400;
    position: absolute;
    top:95%;
    left:40%;
    background-color: pink;
}
.box5{
    margin:50px;
    position: absolute;
    top:215%;
    left:3%;
    background-color: beige;
    padding:50px;
}
.content1 h2{
    font-size: 50px;
    font-weight: 400px;
    margin-left:50px ;

}
.content1 h3{
    font-size: 30px;
    font-weight: 300px;
    margin-left:50px ;
    margin-top:5px ;
    display:inline;
    margin-right: 15px;
    word-spacing: 20px;
    line-height: 50px;

}
.box6{
    margin:50px;
    position: absolute;
    top:235%;
    left:50%;
    padding:50px;
    color:white;
    background-color: pink;
}
.c11{
    display: flex;
    flex-wrap: wrap;
}
.c1, .c2, .c3, .c4{
    flex-shrink: shrink;
    margin:10px;
    padding:5px;
}
.c1 h3, .c2 h3, .c3 h3, .c4 h3{
    align-content: flex-start;
}
.c1 p, .c2 p, .c3 p, .c4 p{
    margin-left:3.2vw;
}



.content span{
    display: inline;
    margin-left: 80px; 
    font-size: 20px;
    font-weight: 200px;
}
.section5{
    background-color: white;
    color:black;
    height:75%;
    width:100%;
}
.space{
    background-color: #31031e;
    height:20%,
}
.part2 a{
    text-decoration: none;
    color: inherit;

}
